<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Sírius</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <center>
            <h1> Sírius - Sistema de Rotas </h1>
            <form class="row g-3 justify-content-center" action="/buscar" method="post" id="formulario">
                <div class="row-md">
                    <div class="col-md-3">
                        <label class="form-label" for="origem">Origem</label>
                        <select name="origem"  id="origem" class="form-select" aria-label="Aracajú">
                            <option value=0 selected>Aracajú</option>
                            <option value=1>Belém</option>
                            <option value=2>Belo Horizonte</option>
                            <option value=3>Boa Vista</option>
                            <option value=4>Brasília</option>
                            <option value=5>Campo Grande</option>
                            <option value=6>Cuiabá</option>
                            <option value=7>Curitiba</option>
                            <option value=8>Florianópolis</option>
                            <option value=9>Fortaleza</option>
                            <option value=10>Goiânia</option>
                            <option value=11>João Pessoa</option>
                            <option value=12>Macapá</option>
                            <option value=13>Maceió</option>
                            <option value=14>Manaus</option>
                            <option value=15>Natal</option>
                            <option value=16>Palmas</option>
                            <option value=17>Porto Alegre</option>
                            <option value=18>Porto Velho</option>
                            <option value=19>Recife</option>
                            <option value=20>Rio Branco</option>
                            <option value=21>Rio de Janeiro</option>
                            <option value=22>Salvador</option>
                            <option value=23>São Luis</option>
                            <option value=24>São Paulo</option>
                            <option value=25>Teresina</option>
                            <option value=26>Vitória</option>
                        </select>
                    </div>
                </div>
                <div class="row-md">
                    <div class="col-md-3">
                        <label class="form-label" for="destino">Destino</label>
                        <select name="destino" id="destino" class="form-select" aria-label="Aracajú">
                            <option value=0 selected>Aracajú</option>
                            <option value=1>Belém</option>
                            <option value=2>Belo Horizonte</option>
                            <option value=3>Boa Vista</option>
                            <option value=4>Brasília</option>
                            <option value=5>Campo Grande</option>
                            <option value=6>Cuiabá</option>
                            <option value=7>Curitiba</option>
                            <option value=8>Florianópolis</option>
                            <option value=9>Fortaleza</option>
                            <option value=10>Goiânia</option>
                            <option value=11>João Pessoa</option>
                            <option value=12>Macapá</option>
                            <option value=13>Maceió</option>
                            <option value=14>Manaus</option>
                            <option value=15>Natal</option>
                            <option value=16>Palmas</option>
                            <option value=17>Porto Alegre</option>
                            <option value=18>Porto Velho</option>
                            <option value=19>Recife</option>
                            <option value=20>Rio Branco</option>
                            <option value=21>Rio de Janeiro</option>
                            <option value=22>Salvador</option>
                            <option value=23>São Luis</option>
                            <option value=24>São Paulo</option>
                            <option value=25>Teresina</option>
                            <option value=26>Vitória</option>
                        </select>
                    </div>
                </div>
                <div class="row-md">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Realizar Busca</button>
                    </div>
                </div>
            </form>
        </center>
    </body>
</html>
